<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Start Page</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <div class="container" ng-app="myApp" ng-controller="myCtrl">
    <h1>Welcome to Your Personal Start Page</h1>

    <!-- Dropdown button to toggle Add Tile form -->
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add Tile
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
          <form ng-submit="addTile()">
            <div class="form-group">
              <label for="urlInput">Enter URL:</label>
              <input type="text" class="form-control" id="urlInput" ng-model="newUrl" placeholder="https://example.com">
            </div>
            <button type="submit" class="btn btn-primary">Add Tile</button>
          </form>
        </li>
      </ul>
    </div>

    <!-- Tiles -->
    <div class="row">
      <div class="col-sm-4" ng-repeat="tile in tiles">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="{{ tile.url }}" target="_blank">{{ tile.url }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- AngularJS Controller -->
  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.tiles = []; // Array to store tiles

      // Function to add a new tile
      $scope.addTile = function() {
        if ($scope.newUrl) {
          $scope.tiles.push({ url: $scope.newUrl });
          $scope.newUrl = ''; // Clear the input field
        }
      };
    });
  </script>
</body>
</html>
